.additional-card {
  font-size: 14px;
  line-height: 14px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid $special_grey;
  padding: 13px 0 20px;

  &:first-child {
    border-top: 1px solid $special_grey;
  }

  @media (min-width: $tablet) {
    justify-content: space-between;
    border: 1px solid $special_grey;
    padding: 26px 38px 28px;
  }

  @media (min-width: $desktop) {
    border: none;
    border-bottom: 1px solid $special_grey;
    padding: 15px 0;

    &:first-child {
      border-top: 1px solid $special_grey;
    }
  }
}

.additional-card__title {
  font-family: $headers-font;
  font-weight: 400;
  color: $sub-color-text;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet) {
    max-width: 40%;
  }

  @media (min-width: $desktop) {
    width: 200px;
  }
}

.additional-card__list {
  width: 100%;

  @media (min-width: $tablet) {
    max-width: 50%;
  }

  @media (min-width: $desktop) {
    max-width: 300px;
  }
}

.additional-card__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 13px 0 15px;

  @media (min-width: $tablet) {
    justify-content: flex-end;
    margin: 0;
  }
}

.additional-card__price {
  @media (min-width: $tablet) {
    margin-left: 50px;
  }
}

.additional-card__button {
  @media (min-width: $tablet) {
    margin-top: 25px;
  }

  @media (min-width: $desktop) {
    width: 244px;
    margin-top: 0;
  }
}
