.button {
  font-family: $headers-font;
  color: $white-color-text;
  font-size: 16px;
  line-height: 20px;
  background-color: $bg-basic-green;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  width: 100%;
  border: none;

  &--secondary {
    color: $base-color-text;
    background-color: $bg-basic-grey;
  }

  &--big {
    font-size: 20px;
    line-height: 26px;
    min-height: 54px;
  }
}

