.card {
  font-size: 12px;
  line-height: 16px;
}

.card__title {
  font-family: $headers-font;
  font-weight: 400;
  color: $sub-color-text;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
