.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: flex-start;
  }
}

.catalog__item {
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet) {
    margin-bottom: 60px;
  }
}

.catalog__title {
  font-family: $headers-font;
  font-weight: 400;
  color: $sub-color-text;
  font-size: 36px;
  line-height: 36px;
}
