.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-bottom: 74px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
    margin-bottom: 71px;
  }
}

.catalog__item {
  border-bottom: 1px solid #ebebeb;
}

.catalog__title {
  font-family: $headers-font;
  font-weight: 400;
  color: $sub-color-text;
  font-size: 36px;
  line-height: 36px;
}
