.food-line {

}

.food-line__title {
  font-family: $headers-font;
  font-weight: 400;
  color: $black-color-text;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.food-line__text {
  font-size: 14px;
  line-height: 18px;
}

.food-line__link {
  font-family: $headers-font;
  color: $black-color-text;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.food-line__card {
  background-color: $bg-basic-grey;
}
