.instruction {

}

.instruction__title {
  font-family: $headers-font;
  color: $black-color-text;
  font-size: 36px;
  line-height: 40px;
}

.instruction__description {
  font-size: 14px;
  line-height: 18px;
}
