.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
  // position: relative;

  @media (min-width: $tablet) {
    margin-top: 25px;
  }

  @media (min-width: $desktop) {
    margin-top: 55px;
  }
}

.main-header__logo {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

