.main-footer {
  background-color: $bg-basic-grey;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 56px;
  }

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 66px;
  }
}

.main-footer__social {
  margin-bottom: 3px;

  // @media (min-width: $tablet) {
  //   margin-bottom: auto;
  // }
}

.main-footer__logo-text {
  @media (min-width: $tablet) {
    margin-right: 37px;
  }
}
