.promo {
  position: relative;
  border: 1px solid black;
  // ?????????????????????


  @media (min-width: $tablet) {
    position: unset;
  }

  @media (min-width: $tablet) {
    min-height: 694px;
  }

  &::before {
    content: "";
    display: block;
    height: 302px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient($bg-basic-green-rgba, $bg-basic-green-rgba), url("../../images/index-background-mobile@1x.jpg"), linear-gradient($base-color-text, $base-color-text);
    z-index: -1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;

    @media (min-width: $tablet) {
      display: none;
    }

    @media (min-width: $desktop) {
      display: block;
      width: 50%;
      left: 50%;
      height: 694px;
      background-image: linear-gradient($bg-basic-green-rgba, $bg-basic-green-rgba), url("../../images/index-background-desktop@1x.jpg"), linear-gradient($base-color-text, $base-color-text);
      background-size: auto 100%;
      background-position: 0%;
    }
  }
}


.promo__title {
  font-family: $headers-font;
  font-weight: 400;
  color: $white-color-text;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 27px 0 25px;

  @media (min-width: $tablet) {
    max-width: 420px;
    color: $black-color-text;
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    margin: 65px 0 40px;
    margin-left: 90px;
  }
}

.promo__text {
  font-family: $headers-font;
  color: $white-color-text;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  margin-bottom: 29px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    text-align: start;
    color: $black-color-text;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 50px;
    margin-left: 90px;
    // ???????????
  }
}

.promo__image {
  display: block;

  @media (min-width: $tablet) {
    position: relative;
    top: -90px;
    z-index: -1;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 140px;
    left: 45%;
    z-index: 0;
  }
}

.promo__wrapper {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  @media (min-width: $desktop) {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    // border: 1px solid black;
  }
}

.promo__button {
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    width: 244px;
    margin-left: 90px;
  }
}
