.slider {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 280px;
  aspect-ratio: 280/256;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 560px;
  }
}

.slider__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  &--before {
    object-position: left;
  }

  &--after {
    object-position: right;
  }
}

.slider__button {
  height: 100%;
  width: 4px;
  padding: 0;
  background-color: $icon-grey-color;
  border: 0;
  position: absolute;
  top: 0;
  left: calc(50% - 2px);
  display: block;
  cursor: col-resize;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: calc(50% - 1px);
    transform: translate(-50%, -50%);
  }

  &::before {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $white-color-text;
    border: 2px solid $icon-grey-color;
  }

  &::after {
    width: 24px;
    height: 18px;
    background-color: $icon-grey-color;
    mask-image: url("../../icons/stack.svg#slider-arrows");
    mask-size: 24px 18px;
  }

  &:hover,
  &:hover::after {
    background-color: $bg-basic-green;
  }

  &:hover::before {
    border: 2px solid $bg-basic-green;
  }

  &:active {
    opacity: 0.6;
    background-color: $bg-basic-green;
  }

  &:active::after {
    background-color: $bg-basic-green;
  }

  &:active::before {
    border: 2px solid $bg-basic-green;
  }
}
